[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cookiecutter = "*"
pytest = "*"
pytest-watch = "*"
tox = "*"
coverage = "*"
pytest-cov = "*"
"punch.py" = "*"
watchdog = "*"
flake8 = "*"
cryptography = "*"
pyyaml = "*"
Sphinx = "*"
pytest-flask = "*"

[packages]
flask = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
